@import "~@fortawesome/fontawesome-pro/css/all.css";

$primary: #323149;

$theme-colors: (
  "primary": #323149
);


@import 'bootstrap/scss/bootstrap.scss';

.nowordwrap {
  overflow: auto;
  display: inline;
}
.pointer {
  cursor: pointer;
}

.navbar{
  border-bottom: 1px solid #eeee;
}

