@import "~@fortawesome/fontawesome-pro/css/all.css";

@import "bootstrap-overwrites/variables";
@import 'bootstrap/scss/bootstrap.scss';

.nowordwrap {
  overflow: auto;
  display: inline;
}
.pointer {
  cursor: pointer;
}
